.card{
    background-color: white;
    border-radius: 3px;
    color: black;
    padding: 5px 9px;
    margin: 7px 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px #9a9a9a;
}
.cardText{
    color: #292929;
}
.btnDelete{
    cursor: pointer;
    color: #dbdbdb;
    margin-left: 5px;
}
.btnDelete:hover{
    color: #000000;
    transition: color 0.15s ease-in-out;
}